<header id="header" class="">
  <section id="s01">
  <h1>@ Kamikakeru</h1>
  <nav>
       <li><a href="#">Home</a></li>
       <li><a href="#">Personality</a></li>
       <li><a href="#">Gallary</a></li>
       <li><a href="#">Something just like</a></li>
       <li><a href="#">Waiting for</a></li>
  </nav>
   <p class="massage"><a>At Kamikakeru give you pleasure by the power of photo. Change your Life from here.<a></p>
  </section>
</header><!-- /header -->

<section>
<h1>別のセクションの始まり！</h1>
</section>
<div>
   <p>hello world</p>
</div>e
