<div class="contents row">
  <%= link_to "管理画面サンプル", root_path, data: { no_turbolink: true } %>
    <h3>
      投稿する
    </h3>
    <input placeholder="lon" type="text" name="lon">
    <input placeholder="lat" type="text" name="lat">
    <input type="submit" value="SENT">

  <a class="btn" href="/">TOPへ戻る</a>
</div>
