body{
  margin: 0;
}

// ======================= First =======================

#s01{
  background-image: url("/assets/top04.jpg");
  background-size:cover;
  position: relative;
  min-width: 642px;
  h1{
    margin: 0;
    position: absolute;
    left: 50px;top: 50px;
    padding: 0.25em 1em;
    border-top: solid 2px #fefefe;
    border-bottom: solid 2px #fefefe;
    color: #fefefe;
    font-weight: lighter;
  }
  h1:before, h1:after{
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: #fefefe;
    color: white;
  }
  h1:before {left: 7px;}
  h1:after {right: 7px;}
}

// -------nav------

nav{
  position: absolute;
  left: 50px;
  bottom:55px;
  li{list-style: none;margin-top: 20px;}
  a{
    color: #fefefe;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: .3s;
  }
  a::before,
  a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #fefefe;
    transition: .3s;
  }
  a::before {
    top: 0;
    left: 0;
  }
  a::after {
    bottom: 0;
    right: 0;
  }
  a:hover::before,
  a:hover::after {
    width: 100%;
  }
}

// -------nav------


.massage{
  position: absolute;
  right: 50px;
  bottom: 5px;
  color: #fefefe;
  font-size: 80%;
  max-width:642px;
  a {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// ======================= First =======================

// ======================= Second =======================



